body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Inter";
    background: #2B2B2B;
    color: #FFFFFF
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 208px;
}

.my-watchlist-btn {
    border: none;
    background: #2B2B2B;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 1em;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700
}

.my-watchlist-btn:hover {
    cursor: pointer
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    width: 324px;
    height: 38px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #2B2B2B;
}

.icon-text {
    display: flex;
    margin: 1em;
}

.fa-search {
    margin: auto 0;
}

input {
    border: none;
    margin-left: 1em;
    font-size: 1rem;
    height: 25px;
    width: 190px;
    background: #2B2B2B;
    border: #FFFFFF;
    color: #FFFFFF;
    border: 1px solid
}

#search-btn {
    width: 60px;
    height: 100%;
    border: none;
    border-radius: 5px;
    border-left: 1px solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #2B2B2B;
    color: #FFFFFF
}

#search-btn:hover {
    cursor: pointer
}

.start-exploring-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
    color: #DFDDDD;
}

#my-watchlist-container {
    display: none;
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 0
}

.films-container {
    width: 320px;
    margin: auto;
    margin-top: 3em;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.film {
    height: 100%;
    flex-direction: column;
    margin-top: 1em;
    width: 320px;
    display: flex;
    border-bottom: 1px solid
}

.second-column {
    display: flex;
    flex-direction: column;

    margin: auto 0;
}

img {
    align-self: center;
    grid-area: "img";
    width: 120px;
    height: 180px;
}

.first-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20px;
}

.fa-circle-plus {
    margin-right: 0.3em
}

.title {
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    letter-spacing: -0.1em;
}

.star-and-rating {
    padding: 0;
    display: flex;
    align-items: center;
    height: 15px
}

.fa-star {
    padding: 0;
    font-size: 0.8em;
}

.rating {
    padding: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.runtime, .genre {
    padding: 0;
    font-size: 0.7rem;
}

.add-btn {
    border: none;
    height: 20px;
    display: flex;
    align-items: center;
}

.add-btn:hover {
    cursor: pointer
}

.button-text {
    font-size: 0.7rem
}

.runtime, .genre {
    font-size: 0.7rem;
}

.add-btn {
    border: none
}

.add-btn:hover {
    cursor: pointer
}

.button-text {
    font-size: 0.7rem
}

.plot {
    margin-top: 0.5rem;
    align-self: center;
    font-size: 0.8rem;
    grid-area: "plot";
    font-size: 0.8rem;
    width: 300px;
    height: 100%;
    margin-bottom: 1rem;
}

#add-button-icon {
    display: none
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 20px;    
    text-align: center;
    color: #DFDDDD;
}

.message {
    border: 1px solid;
    position: fixed;
    left: 40%;
    background: #161414;
    font-size: 1.5rem;
    padding: 10px 5px;
    border-radius: 20px;
    color: #FFFFFF
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

@media (min-width: 600px) {
    * {
        box-sizing: border-box
    }
    body {
        width: 100%
    }

    .top {
        margin: auto;
        width: 600px
    }
    
    input {
        width: 370px;
    }

    #search-btn {
        font-size: 1.3rem;
        width: 150px
    }
    
    .start-exploring-container, .search-container {
        width: 600px;
    }
    
    .films-container {
        width: 100%;
    }
    
    .film {
        margin: auto;
        justify-content: space-around;
        flex-direction: row;
        display: flex;
        width: 80%
    }
    
    img {
        margin: 1em 0;
        width: 210px;
        height: 300px;
    }

    .second-row {
        width: 700px;
        justify-content: space-around
    }

    .first-row {
        justify-content: flex-start;
        font-size: 1.8rem;
        width: 700px
    }
    
    .fa-circle-plus {
        margin-right: 0.4em
    }
    
    .title {
        margin-right: 1em;
        font-size: 1.8rem;
    }
    
    .fa-star {
        font-size: 0.6em;
    }
    
    .rating {
        font-size: 1rem
    }
    
    .runtime, .genre {
        font-size: 0.9rem;
    }
    
    .button-text {
        font-size: 0.9rem
    }
    
    .runtime, .genre {
        font-size: 0.9rem;
    }
    
    .plot {
        line-height: 1.5em;
        margin-top: 2em;
        font-size: 1.1rem;
        width: 700px;
    }
    
}